<h1>{{success}}</h1>
<p>You now have</p>
<ul>
	<li>HTML5 Boilerplate</li>
	<li>jQuery</li>
	<li>Backbone.js</li>
	<li>Backbone.Drupal</li>
	<li>Backform</li>
	<li>Marionette.js</li>
	<li>Underscore.js</li>
	<li>Twig.js</li>
	<li>RequireJS</li>
	<li>Twitter Bootstrap</li>
	<li>Jasmine - Behavior-Driven Unit Test</li>
</ul>

<p>Installed.</p>
<h3>Enjoy coding!</h3>

