<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Hello Marionette + Drupal!</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href="/css/dist/production.min.css" rel="stylesheet" type="text/css" charset="utf-8">
    </head>

    <body>

        <div class="row-fluid show-grid">
          <div class="span12 text-center" id="main-menu-region">Menu Region</div>
          <div class="span12 text-center" id="messages">Messages Region</div>
          <div class="span2 text-center" id="left-sidebar-region">Left Sidebar Region</div>
          <div class="span7 hero-unit" id="content-region">Content Region</div>
          <div class="span2 text-center" id="right-sidebar-region">Right Sidebar Region</div>
          <div class="span12 text-center" id="footer-region">Footer Region</div>
        </div>

        <script data-main="scripts/init" src="vendor/requirejs/require.js"></script>

    </body>
</html>
